<div class="row form-group">
	<div class="col-md-12"><h1>Additional Information and Forecast for: <%=weatherData.parkStuff.name%></h1>
	</div>
</div>
<div class="row form-group">
	<div class="col-md-6"><h3>Park Overview:</h3><br><p><%=weatherData.parkStuff.description%></p></div>
	<div class="col-md-6"><h3>Typical weather:</h3><br><p><%=weatherData.parkStuff.weatherInfo%></p></div>
</div>
<div class="row form-group">
	<div class="col-md-3"><h3>Weather for: <%=weatherData.txt_forecast.forecastday[0].title%></h3>
	<h4>Forecast: <%=weatherData.txt_forecast.forecastday[0].fcttext%></h4><span><img src="<%= weatherData.txt_forecast.forecastday[0].icon_url %>"></div>
	
	<div class="col-md-3"><h3>Weather for: <%=weatherData.txt_forecast.forecastday[1].title%></h3>
	<h4>Forecast: <%=weatherData.txt_forecast.forecastday[1].fcttext%></h4><span><img src="<%= weatherData.txt_forecast.forecastday[1].icon_url %>"></div>

	<div class="col-md-3"><h3>Weather for: <%=weatherData.txt_forecast.forecastday[2].title%></h3>
	<h4>Forecast: <%=weatherData.txt_forecast.forecastday[2].fcttext%></h4><span><img src="<%= weatherData.txt_forecast.forecastday[2].icon_url %>"></div>

	<div class="col-md-3"><h3>Weather for: <%=weatherData.txt_forecast.forecastday[3].title%></h3>
	<h4>Forecast: <%=weatherData.txt_forecast.forecastday[3].fcttext%></h4><span><img src="<%= weatherData.txt_forecast.forecastday[3].icon_url %>"></div>
</div>
<div class="row form-group">

	<div class="col-md-3"><h3>Weather for: <%=weatherData.txt_forecast.forecastday[4].title%></h3>
	<h4>Forecast: <%=weatherData.txt_forecast.forecastday[4].fcttext%></h4><span><img src="<%= weatherData.txt_forecast.forecastday[4].icon_url %>"></div>

	<div class="col-md-3"><h3>Weather for: <%=weatherData.txt_forecast.forecastday[5].title%></h3>
	<h4>Forecast: <%=weatherData.txt_forecast.forecastday[5].fcttext%></h4><span><img src="<%= weatherData.txt_forecast.forecastday[5].icon_url %>"></div>

	<div class="col-md-3"><h3>Weather for: <%=weatherData.txt_forecast.forecastday[6].title%></h3>
	<h4>Forecast: <%=weatherData.txt_forecast.forecastday[6].fcttext%></h4><span><img src="<%= weatherData.txt_forecast.forecastday[6].icon_url %>"></div>
	<div class="col-md-3"><h3>Weather for: <%=weatherData.txt_forecast.forecastday[7].title%></h3>
	<h4>Forecast: <%=weatherData.txt_forecast.forecastday[7].fcttext%></h4><span><img src="<%= weatherData.txt_forecast.forecastday[7].icon_url %>"></div>

</div>

<div id="state-map">


</div>

<script type="text/javascript"> var dataObject = <%-JSON.stringify(weatherData)%></script>
<script type="text/javascript" src="js/script.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.MAPS_API%>&callback=initMap"></script>



