
<div class="background">
	<div class="text-center row form-group">
		<div class="col-md-12">
			<h2 id="top_header"><%=weatherData.parkStuff.name%></h2>		
		</div>
	</div>
</div>
<div class="weather_container">

	<div class="row form-group">
		<div class="moreinfo col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-3">
			<h3 class="orange_text">Overview</h3>
				<p><%=weatherData.parkStuff.description%><a class="park_url" href="<%= weatherData.parkStuff.url%>" target="blank"> Visit Park Website</a></p>
			<h3 class="orange_text">Typical Weather</h3>
				<p><%=weatherData.parkStuff.weatherInfo%></p>
		</div>
		<div class="col-md-5 col-md-offset-0 col-sm-6 col-sm-offset-3">
			<h3 class="orange_text">Location</h3>
				<div id="state-map"></div>
		</div>
	</div>
	<h2 class="black">Weather Forecast</h2>
		<div class="weather_data">
			<div class="weather_row row form-group">
				<div class="col-md-2 col-sm-0"></div>
				<% for(var i=0; i<4; i++){ %>
					<div class="weather_cell col-md-2 col-sm-6">
						<h4 class="black_text"><%=weatherData.txt_forecast.forecastday[i].title%></h4>
							<p class="weather_text"><%=weatherData.txt_forecast.forecastday[i].fcttext%></p>
							<img class="weather_image" src="<%= weatherData.txt_forecast.forecastday[i].icon_url %>">
					</div>
				<%}%>
			</div>
			<hr class="weather_row_divider">
			<div class="weather_row row form-group">
				<div class="col-md-2 col-sm-0"></div>
				<% for(var i=4; i<8; i++){ %>
					<div class="weather_cell col-md-2 col-sm-6">
						<h4 class="black_text"><%=weatherData.txt_forecast.forecastday[i].title%></h4>
							<p class="weather_text"><%=weatherData.txt_forecast.forecastday[i].fcttext%></p>
							<img class="weather_image" src="<%= weatherData.txt_forecast.forecastday[i].icon_url %>">
					</div>
				<%}%>
			</div>
			<hr class="weather_row_divider">
			<div class="weather_row row form-group">
				<div class="col-md-2 col-sm-0"></div>
				<% for(var i=8; i<12; i++){ %>
					<div class="weather_cell col-md-2 col-sm-6">
						<h4 class="black_text"><%=weatherData.txt_forecast.forecastday[i].title%></h4>
							<p><%=weatherData.txt_forecast.forecastday[i].fcttext%></p>
							<img class="weather_image" src="<%= weatherData.txt_forecast.forecastday[i].icon_url %>">
					</div>
				<%}%>
			</div>
			<hr class="weather_row_divider">

	</div>
</div>
<h2><a class="top" href="#top_header">Back to Top</a></h2>

<script type="text/javascript"> var dataObject = <%-JSON.stringify(weatherData)%></script>
<script type="text/javascript" src="js/script.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.MAPS_API%>&callback=initMap"></script>



