
<h2><%=weatherData.parkStuff.name%></h2>

<div class="row form-group">
	<div class="header2 col-md-12">
	</div>
</div>

<div class="row form-group">
	<div class="col-md-1"></div>
	<div class="moreinfo col-md-5">
		<h3 style="color:rgb(247, 147, 42)">Overview</h3>
		<p><%=weatherData.parkStuff.description%></p>
		<h3 style="color:rgb(247, 147, 42)">Typical Weather</h3>
		<p><%=weatherData.parkStuff.weatherInfo%></p>
	</div>
	<div class="col-md-5">
		<h3 style="color:rgb(247, 147, 42)">Location</h3>
		<div id="state-map"></div>
	</div>
	<div class="col-md-1"></div>
</div>
<h2 style="color:rgb(247, 147, 42)">Weather Forecast</h2>
<div class="weather_data">

	<div class="weather_row row form-group">
		<% for(var i=0; i<3; i++){ %>
			<div class="weather_cell col-md-4">
				<h4><%=weatherData.txt_forecast.forecastday[i].title%></h3>
				<p class="weather_text"><%=weatherData.txt_forecast.forecastday[i].fcttext%></p>
				<img class="weather_image" src="<%= weatherData.txt_forecast.forecastday[i].icon_url %>">
			</div>
		<%}%>
	</div>
	<div class="weather_row row form-group">
		<% for(var i=3; i<6; i++){ %>
			<div class="weather_cell col-md-4">
				<h4><%=weatherData.txt_forecast.forecastday[i].title%></h3>
				<p class="weather_text"><%=weatherData.txt_forecast.forecastday[i].fcttext%></p>
				<img class="weather_image" src="<%= weatherData.txt_forecast.forecastday[i].icon_url %>">
			</div>
		<%}%>
	</div>
	<div class="weather_row row form-group">
		<% for(var i=6; i<9; i++){ %>
			<div class="weather_cell col-md-4">
				<h4><%=weatherData.txt_forecast.forecastday[i].title%></h3>
				<p><%=weatherData.txt_forecast.forecastday[i].fcttext%></p>
				<img class="weather_image" src="<%= weatherData.txt_forecast.forecastday[i].icon_url %>">
			</div>
		<%}%>
	</div>
</div>


<script type="text/javascript"> var dataObject = <%-JSON.stringify(weatherData)%></script>
<script type="text/javascript" src="js/script.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.MAPS_API%>&callback=initMap"></script>



