 <h1>Additional Information and Forecast for: <%=weatherData.parkStuff.name%></h1>



<div>
<h3>Weather for: <%=weatherData.txt_forecast.forecastday[0].title%></h3>
<h4>Forecast: <%=weatherData.txt_forecast.forecastday[0].fcttext%></h4><span><img src="<%= weatherData.txt_forecast.forecastday[0].icon_url %>">

<h3>Weather for: <%=weatherData.txt_forecast.forecastday[1].title%></h3>
<h4>Forecast: <%=weatherData.txt_forecast.forecastday[1].fcttext%></h4><span><img src="<%= weatherData.txt_forecast.forecastday[1].icon_url %>">

<h3>Weather for: <%=weatherData.txt_forecast.forecastday[2].title%></h3>
<h4>Forecast: <%=weatherData.txt_forecast.forecastday[2].fcttext%></h4><span><img src="<%= weatherData.txt_forecast.forecastday[2].icon_url %>">

<h3>Weather for: <%=weatherData.txt_forecast.forecastday[3].title%></h3>
<h4>Forecast: <%=weatherData.txt_forecast.forecastday[3].fcttext%></h4><span><img src="<%= weatherData.txt_forecast.forecastday[3].icon_url %>">

<h3>Weather for: <%=weatherData.txt_forecast.forecastday[4].title%></h3>
<h4>Forecast: <%=weatherData.txt_forecast.forecastday[4].fcttext%></h4><span><img src="<%= weatherData.txt_forecast.forecastday[4].icon_url %>">
</div>

<div id="state-map">


</div>

<script src="js/script.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.MAPS_API%>&callback=initMap"></script>



