<div class="background">
	<div class="text-center row form-group">
		<div class="col-md-12">
			<h2 id="top_header">National Parks</h2>
		</div>
	</div>
</div>
	<% if(currentUser) {%>
		<h4 class="black_text">Save a park to your wishlist to see additional information and weather forecast</h4>
		<hr>
	<% } else { %>
		<h4 class="black_text"><a class="h4-link" href="auth/login">Login</a> or <a class="h4-link" href="auth/signup">create an account</a></br>to see additional information and weather forecast</h4>
		<hr>
	<% } %>
</div>
<div class="park_display row form-group">

		<% if(park.length <=0){ %>
				<p>No Parks in that State</p>
			<%} else {%>
				<% for(var i=0; i<park.length; i++) { %>
					
					<% if(i % 2 == 0) { %>
						<% var evenArr = [] %>
							<% evenArr.push(park[i]) %>
							<div class="col-md-5 col-md-offset-1 col-sm-8 col-sm-offset-2">
								<% evenArr.map(function(item){ %>
									<%var location = item.states.split(',').join(', ')%>
									<%console.log(location)%>
									<div class="park_each">
										<div><h3><%=item.fullName%></h3></div>
										<p class="location-park">Located in <%=location%></p>
											<div class="park_text"><p><%=item.description %></p></div>
											<p style="text-align: center"><a class="park_url" href="<%=item.url%>" target="blank">Vist Park Website</a></p>
										<form method="POST" action="/favs">
											<% if(currentUser) { %>
												<input hidden type="text" name="userId" value="<%= currentUser.id %>">
							         			<input hidden type="text" name="name" value="<%= item.fullName %>">
							         			<input hidden type="text" name="designation" value="<%= item.designation %>">
							         			<input hidden type="text" name="state" value="<%= location%>">
							         			<input hidden type="text" name="Latlong" value="<%= item.latLong %>">
							         			<input hidden type="text" name="url" value="<%= item.url %>">
							         			<input hidden type="text" name="weatherInfo" value="<%= item.weatherInfo %>">
							         			<input hidden type="text" name="description" value="<%= item.description %>">
							          			<button id="save_button" type="submit">Add to Wishlist</button>
							          		<% } else { %>
							          			<button id="save_button" type="submit">Login to add to Wishlist</button>
											<% } %>
						        		</form>
									</div>
								<%});%>
							</div>
					<%} else { %>
						<% var oddArr = [] %>
							<% oddArr.push(park[i]) %>
							<div class="col-md-5 col-md-offset-0 col-sm-8 col-sm-offset-2">
								<% oddArr.map(function(item){ %>
									<%var location = item.states.split(',').join(', ')%>
									<%console.log(location)%>
									<div class="park_each">
											<h3><%=item.fullName%></h3>
											<p class="location-park">Located in <%=location%></p>
											<div class="park_text"><p ><%=item.description %></p></div>
											<p style="text-align: center"><a class="park_url" href="<%=item.url%>" target="blank">Vist Park Website</a></p>
												<form method="POST" action="/favs">
													<% if(currentUser) { %>
														<input hidden type="text" name="userId" value="<%= currentUser.id %>">
									         			<input hidden type="text" name="name" value="<%= item.fullName %>">
									         			<input hidden type="text" name="designation" value="<%= item.designation %>">
									         			<input hidden type="text" name="state" value="<%= location%>">
									         			<input hidden type="text" name="Latlong" value="<%= item.latLong %>">
									         			<input hidden type="text" name="url" value="<%= item.url %>">
									         			<input hidden type="text" name="weatherInfo" value="<%= item.weatherInfo %>">
									         			<input hidden type="text" name="description" value="<%= item.description %>">
									          			<button id="save_button" type="submit">Add to Wishlist</button>
									          		<% } else { %>
									          			<button id="save_button" type="submit">Login to add to WIshlist</button>
													<% } %>
								        		</form>
									</div>
								<%});%>
							</div>
					<%}%>
			<% }%>
		<% } %>
</div>
		

	
</div>
<h2><a class="top" href="#top_header">Back to Top</a></h2>





