<h2>map of the state</h2>

<% if(park.length <=0){ %>
		<p>No Parks in that State</p>
	<%} else {%>
		<% park.forEach(function(item){ %>
			<div class="well">
				<h3>Park Name: <%=item.name%></h3>
				<p>Designation: <%=item.designation%></p>
				<a href="<%=item.url%>" target="blank">Vist Park Website</a><br>
				<p>Geo Coordinates: <%=item.latLong %></p>
				<p>Overview: <%=item.description %></p>
				<p>Weather: <%=item.weatherInfo %></p>



				<form method="POST" action="/favs">
					<% if(currentUser) {%>
						<input hidden type="text" name="userId" value="<%= currentUser.id %>">
	         			<input hidden type="text" name="name" value="<%= item.name %>">
	         			<input hidden type="text" name="designation" value="<%= item.designation %>">
	         			<input hidden type="text" name="state" value="<%= item.states%>">
	         			<input hidden type="text" name="Latlong" value="<%= item.latLong %>">
	         			<input hidden type="text" name="url" value="<%= item.url %>">
	         			<input hidden type="text" name="weatherInfo" value="<%= item.weatherInfo %>">
	         			<input hidden type="text" name="description" value="<%= item.description %>">
	         			
	          			<button class="btn btn-primary" type="submit">Add to Favorites</button>
	          		<% } else { %>
	          			<input hidden type="text" name="name" value="<%= item.name %>">
	         			<input hidden type="text" name="designation" value="<%= item.designation %>">
	         			<input hidden type="text" name="state" value="<%= item.states%>">
	         			<input hidden type="text" name="Latlong" value="<%= item.latLong %>">
	         			<input hidden type="text" name="url" value="<%= item.url %>">
	         			<input hidden type="text" name="weatherInfo" value="<%= item.weatherInfo %>">
	         			<input hidden type="text" name="description" value="<%= item.description %>">
	         		
	          			<button class="btn btn-primary" type="submit">Add to Favorites</button>
					<% } %>
        		</form>
			</div>
		<%});%>
	<%};%>


