<div class="background">
	<div id="top_header" class="text-center row form-group">
		<div class="col-md-12"><h2><%= currentUser.firstname %>'s Park Wishlist</h2></div>
	</div>
</div>
		<% if(user.nationalparks.length >0){ %>
		<h4 class="black_text">Search and explore more parks <a href="/">here</a>.</h4>
		<% };%>
<div class="park_display text-center row form-group">
		<% if(user.nationalparks.length <=0){ %>
				<h3>You don't have any parks on your wishlist</h3>
				<h4 class="black_text">Search for National Parks <a href="/">here</a></h4>
		<%} else if(user.nationalparks.length === 1) {%>
				<div class="col-lg-4 col-lg-offset-2 col-sm-6 col-sm-offset-3">
					<div class="park_each_favs">
					<h3><%=user.nationalparks[0].name%></h3>
					<form method="POST" action="/weather">
						<input type="hidden" type="text" name="name" value="<%=user.nationalparks[0].name %>">
						<input type="submit" value="More Info and Weather" class="weather_button">
					</form>
					<h5>Located in <%= user.nationalparks[0].state %></h5>
					<a href="/favs/<%= user.nationalparks[0].id %>" id="delete_button" class="delete-link">Remove Park from Wishlist</a>
					</div>
				</div>
				<div class="col-lg-4 col-lg-offset-0 col-sm-6 col-sm-offset-3">
				<div class="park_each_favs_one">
					<h3>Only 1 park on your list?</h3>
					<h4 class="black_text">Search for more National Parks <a href="/">here</a></h4>
					<a href="/"><img class="logo-wish" alt="icon" src="/images/mountain.png"></a>
				</div>
				</div>
		<%} else {%>
			<% for(var i=0; i<user.nationalparks.length; i++) { %>
				<%if(i % 2 ===0){ %>
					<% var oddArr = []%>
					<% oddArr.push(user.nationalparks[i])%>
					<div class="col-md-4 col-md-offset-2 col-sm-6 col-sm-offset-3">
						<% oddArr.map(function(item) { %>		
							<div class="park_each_favs">
								<h3><%=item.name%></h3>
							<h5>Located in <%=item.state%></h5>
							<form method="POST" action="/weather">
									<input type="hidden" type="text" name="name" value="<%=item.name%>">
									<input type="submit" value="More Info and Weather" class="weather_button">
								</form>
							<a href="/favs/<%= item.id %>" id="delete_button" class="delete-link">Remove from wishlist</a>
							</div>
						<% });%>
					</div>
				<%} else {%>
					<% var evenArr = []%>
					<% evenArr.push(user.nationalparks[i])%>
					<div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
					<% evenArr.map(function(item) { %>		
						<div class="park_each_favs">
							<h3><%=item.name%></h3>
						<h5>Located in <%=item.state%></h5>
						<form method="POST" action="/weather">
								<input type="hidden" type="text" name="name" value="<%=item.name%>">
								<input type="submit" value="More Info and Weather" class="weather_button">
							</form>
						<a href="/favs/<%= item.id %>" id="delete_button" class="delete-link">Remove from wishlist</a>
						</div>
					<% });%>
					</div>
				<% }%>
			<%}%>
			
			<%};%>
</div>
<div class="col-md-1"></div>
<h2><a class="top" href="#top_header">Back to Top</a></h2>

