<div class="text-center row form-group">
	<div><h2><%= currentUser.firstname %>'s Park Wishlist</h2></div>
</div>
	<h4 style="color:rgb(50,50,50">Click park name for weather forecast and more information. Search and explore more parks <a href="/">here</a>.</h4>
	
<div class="park_display text-center row form-group">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		
		<% if(user.nationalparks.length <=0){ %>
				<h3>You don't have any parks on your wishlist</h3>
				<h4 style="color:rgb(50,50,50">Search for National Parks <a href="/">here</a></h4>
			<%} else {%>
				<% user.nationalparks.forEach(function(item) { %>		
					<div class="park_each">
							<form method="POST" action="/weather">
								<input type="hidden" type="text" name="name" value="<%=item.name%>">
								<input class="favs_link" type="submit" value="<%= item.name %>" id="weather_button">
							</form>
							<h5>Located in <%=item.state%></h5>
							<a href="/favs/<%= item.id %>" id="delete_button" class="delete-link">Remove Park from Wishlist</a>
					</div>
				<% });%>
			<%};%>
	</div>
	<div class="col-md-2"></div>
</div>
